# Understand the data
This is crucial! There are basic explanations on the competitions [website](https://www.kaggle.com/c/talkingdata-mobile-user-demographics/data). Here is the data connection diagramm given:
![Data diagramm](data_tree.png)

We also already now that the company names are provided in chinese, which is not particularly helpful. Then, we see that the apps already are categorised, which is handy. However, doubt is present that the variable can be used out-of-the box.

In [1]:
# perform imports so that we can use single cells w/o worrying about imports
import pandas as pd
from pandas import DataFrame as df
import IPython as ip

import seaborn as sns
sns.set(color_codes=True)

%matplotlib inline
import matplotlib.pyplot as plt
# Set input dir
import sys
sys.path.append("/home/mschlupp/pythonTools")
tmp = %pwd
files_dir = tmp + "/files/"

In [2]:
%ls files/

app_events.csv        phone_brand_device_model.csv
app_labels.csv        phone_brand_device_model_engl.csv
events.csv            sample_submission.csv
events_day_hour.csv   traintest_fullevt.csv
gender_age_test.csv   traintest_phone.csv
gender_age_train.csv  traintest_phone_day_hour.csv
label_categories.csv  traintest_phone_evts.csv

In [3]:
ga_full = pd.read_csv(files_dir+"traintest_fullevt.csv")

In [7]:
ga_full.head(2)

,age,device_id,gender,group,isTrain,phone_brand,device_model,hasEvents,nEvts,longitude_mean,longitude_variance,latitude_mean,latitude_variance,usageTime_mean,usageTime_variance,usageDay_mean,usageDay_variance
0,35,-8076087639492063270,M,M32-38,1,小米,MI 2,0,0,-1,-1,-1,-1,-1,-1,-1,-1
1,35,-2897161552818060146,M,M32-38,1,小米,MI 2,0,0,-1,-1,-1,-1,-1,-1,-1,-1

In [4]:
app_evts = pd.read_csv(files_dir+"app_events.csv")
app_labels = pd.read_csv(files_dir+"app_labels.csv")
label_cat = pd.read_csv(files_dir+"label_categories.csv")

In [6]:
events = pd.read_csv(files_dir+"events_day_hour.csv", index_col=0)
events.head(2)

,event_id,device_id,timestamp,longitude,latitude,day,time,hour,usageDay
0,1,29182687948017175,2016-05-01 00:55:25,121.38,31.24,Sun,00:55:25,0,3
1,2,-6401643145415154744,2016-05-01 00:54:12,103.65,30.97,Sun,00:54:12,0,3

In [7]:
print(len(events.event_id)==len(events.event_id.unique()))
print(len(events.event_id))

True
3252950

In [8]:
len(app_evts.event_id.unique())

1488096

Again only ~46% have additional app data. This means only ~14% of all training accounts have additional event & app information.

In [9]:
app_evts.head(5)

   event_id               app_id  is_installed  is_active
0         2  5927333115845830913             1          1
1         2 -5720078949152207372             1          0
2         2 -1633887856876571208             1          0
3         2  -653184325010919369             1          1
4         2  8693964245073640147             1          1

In [21]:
app_labels.head(3)

                app_id  label_id
0  7324884708820027918       251
1 -4494216993218550286       251
2  6058196446775239644       406

In [24]:
label_cat.head(5)

   label_id           category
0         1                NaN
1         2     game-game type
2         3   game-Game themes
3         4     game-Art Style
4         5  game-Leisure time

In [25]:
len(app_evts.app_id.unique())-len(app_labels.app_id.unique())

-93974

In [27]:
s=0
for x in app_evts.app_id.unique():
    if x not in app_labels.app_id:
        s+=1
        
print(s, " ids not labeled.")

19237  ids not labeled.