In [1]:
import pandas as pd

In [2]:
%ls finalOutputs/

gbdt_gaNoEvts_predictions.csv  lr_Evts_woLatLong.csv
lr_Evts.csv                    lr_gaNoEvts_prediction.csv

In [4]:
lr_ga = pd.read_csv("finalOutputs/lr_gaNoEvts_prediction.csv")
lr_evts = pd.read_csv("finalOutputs/lr_Evts_woLatLong.csv")
#lr_app = pd.read_csv("finalOutputs/lr_App.csv")

In [9]:
lr_evts.head(2)

,device_id,0,1,2,3,4,5,6,7,8,9,10,11
0,1782450055857303792,0.015620,0.01309,0.049305,0.009342,0.089207,0.063171,0.092205,0.141204,0.037939,0.118068,0.175125,0.195724
1,8663743929678393765,0.000584,0.01153,0.001651,0.382475,0.021244,0.183831,0.004069,0.005231,0.010916,0.219332,0.010919,0.148217

In [16]:
lr_evts.columns = lr_ga.columns

In [18]:
lr_evts.head(1)

,device_id,F23-,F24-26,F27-28,F29-32,F33-42,F43+,M22-,M23-26,M27-28,M29-31,M32-38,M39+
0,1782450055857303792,0.01562,0.01309,0.049305,0.009342,0.089207,0.063171,0.092205,0.141204,0.037939,0.118068,0.175125,0.195724

In [20]:
res = pd.concat([lr_ga,lr_evts], ignore_index=True)

In [21]:
res.head(2)

,device_id,F23-,F24-26,F27-28,F29-32,F33-42,F43+,M22-,M23-26,M27-28,M29-31,M32-38,M39+
0,-5893464122623104785,0.019937,0.099686,0.050342,0.06117,0.048084,0.03401,0.069194,0.15246,0.117277,0.103204,0.15246,0.092176
1,-7560708697029818408,0.019937,0.099686,0.050342,0.06117,0.048084,0.03401,0.069194,0.15246,0.117277,0.103204,0.15246,0.092176

In [22]:
len(res)==len(lr_evts)+len(lr_ga)

True