In [72]:
%run preamble.ipynb

The preamble handles a few imports and defines the following functions:

printLoss(y_tr,p_tr,y_te,p_te,loss=log_loss)
createDataSet(predictions, group_encoder, device_ids)
getBestPrediction(data,var='device_id')


A few Debug functions

In [2]:
%ls finalOutputs

 Volume in drive C has no label.
 Volume Serial Number is 9C71-F73D

 Directory of C:\Users\maxxo_000\Kaggle\TalkingData\finalOutputs

02.09.2016  13:22    <DIR>          .
02.09.2016  13:22    <DIR>          ..
31.08.2016  14:29        20.003.618 gbdt_gaNoEvts_predictions.csv
01.09.2016  14:41     2.016.053.610 lr_App_c001_lowTol.csv
31.08.2016  21:19         9.261.107 lr_App_C04lin.csv
31.08.2016  14:29         4.457.377 lr_Evts.csv
01.09.2016  21:06       283.279.574 lr_Evts_woLatLong.csv
31.08.2016  14:29        20.010.889 lr_gaNoEvts_prediction.csv
02.09.2016  13:43     3.706.869.670 rf_app_200_split20.csv
02.09.2016  01:05       227.382.994 rf_evts_270_split5_entropy.csv
               8 File(s)  6.287.318.839 bytes
               2 Dir(s)  67.218.448.384 bytes free

In [118]:
lr_ga = pd.read_csv("finalOutputs/lr_gaNoEvts_prediction.csv")
lr_evts = pd.read_csv("finalOutputs/rf_evts_270_split5_entropy.csv")

In [121]:
rf_app = pd.read_csv("finalOutputs/rf_app_wiDev.csv",index_col=0)

In [122]:
lr_evts.head(2)

,F23-,F24-26,F27-28,F29-32,F33-42,F43+,M22-,M23-26,M27-28,M29-31,M32-38,M39+,device_id
0,0.127594,0.003034,0.025829,0.000000,0.003498,0.045531,0.123427,0.221113,0.000000,0.078544,0.284489,0.086943,1782450055857303792
1,0.001235,0.002963,0.000000,0.148148,0.001852,0.000000,0.000000,0.016287,0.506058,0.064559,0.095079,0.163818,8663743929678393765

In [123]:
rf_app.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11,device_id
0,0.123231,0.054065,0.207956,0.013802,0.061155,0.049369,0.013261,0.046864,0.048810,0.073646,0.153250,0.154591,-6401643145415154744
1,0.101103,0.057203,0.213778,0.019087,0.078609,0.054020,0.003164,0.043759,0.042807,0.087061,0.173818,0.125592,-6401643145415154744

In [124]:
rf_app.columns = lr_evts.columns

In [126]:
rf_app.head(2)

,F23-,F24-26,F27-28,F29-32,F33-42,F43+,M22-,M23-26,M27-28,M29-31,M32-38,M39+,device_id
0,0.123231,0.054065,0.207956,0.013802,0.061155,0.049369,0.013261,0.046864,0.048810,0.073646,0.153250,0.154591,-6401643145415154744
1,0.101103,0.057203,0.213778,0.019087,0.078609,0.054020,0.003164,0.043759,0.042807,0.087061,0.173818,0.125592,-6401643145415154744

In [134]:
app_evts = pd.concat([averagePredictions(lr_evts)
                      ,averagePredictions(rf_app)], ignore_index=True)
#app_evts = pd.concat([evts_best,rf_app_best], ignore_index=True)

In [132]:
cols = list(app_evts.columns.values)

cols = cols[-1:]+cols[:-1]

app_evts = app_evts[cols]

In [135]:
app_evts.head(2)

,device_id,F23-,F24-26,F27-28,F29-32,F33-42,F43+,M22-,M23-26,M27-28,M29-31,M32-38,M39+
0,1782450055857303792,0.045851,0.002798,0.061008,0.028902,0.009916,0.017832,0.250806,0.181484,0.071845,0.068555,0.192536,0.068465
1,8663743929678393765,0.003590,0.001498,0.000833,0.453155,0.020875,0.010050,0.014172,0.006238,0.210674,0.039022,0.056757,0.183135

# `preamble` notebook defines best prediction function

In [6]:
help(getBestPrediction)

Help on function getBestPrediction in module __main__:

getBestPrediction(data, var)
    Function that returns data set with
    unique `var` entries that satisfy:
    highest prediction probability for
    the class with highest mean prediction.

    Arguments:
    data  - (pd.DataFrame) The dataset to work with
    var   - (str) Feature to find uniques

In [130]:
app_evts_av = averagePredictions(app_evts)

In [137]:
app_evts_unique = getBestPrediction(app_evts, "device_id")

3001 / 35194  groups processed...
6001 / 35194  groups processed...
9001 / 35194  groups processed...
12001 / 35194  groups processed...
15001 / 35194  groups processed...
18001 / 35194  groups processed...
21001 / 35194  groups processed...
24001 / 35194  groups processed...
27001 / 35194  groups processed...
30001 / 35194  groups processed...
33001 / 35194  groups processed...

In [99]:
rf_app_best.columns = evts_best.columns

In [105]:
res_av= pd.concat([lr_ga,app_evts_av], ignore_index=True)

In [138]:
res_unique = pd.concat([lr_ga,app_evts_unique], ignore_index=True)

In [139]:
res_unique.to_csv("predictions/LRplusRFplusRF_BestAverageSolution.csv", index=False)

## Does the scoring on Kaggle depend on correct device id ordering?

No, it does not!

In [107]:
res_unique.head(2)

,device_id,F23-,F24-26,F27-28,F29-32,F33-42,F43+,M22-,M23-26,M27-28,M29-31,M32-38,M39+
0,-5893464122623104785,0.019937,0.099686,0.050342,0.06117,0.048084,0.03401,0.069194,0.15246,0.117277,0.103204,0.15246,0.092176
1,-7560708697029818408,0.019937,0.099686,0.050342,0.06117,0.048084,0.03401,0.069194,0.15246,0.117277,0.103204,0.15246,0.092176

In [108]:
ga_test = pd.read_csv("files/gender_age_test.csv",usecols=["device_id"])

In [115]:
ga_test.head(6)

             device_id
0  1002079943728939269
1 -1547860181818787117
2  7374582448058474277
3 -6220210354783429585
4 -5893464122623104785
5 -7560708697029818408

In [113]:
sort_av = ga_test.merge(res_av, on="device_id", how="left")

In [117]:
sort_av.to_csv("predictions/sortedLRLRRF_average.csv",index=False)