# ToDo:
- merge app_info with labels.
- merge app_info with events info, drop dublicates.
- write device_id to app data

In [1]:
import pandas as pd
from pandas import DataFrame as df
import IPython as ip
import re
import numpy as np
import time

import seaborn as sns
sns.set(color_codes=True)

import matplotlib.pyplot as plt
# Set input dir
import sys
sys.path.append("/home/mschlupp/pythonTools")
files_dir = "files/"
%matplotlib inline


# Merge `app_info` with `labels`

In [3]:
unique = pd.read_csv("files/app_unique_info.csv")

In [5]:
app_info = pd.read_csv("files/finalSets/apps.csv") # has only active apps

In [9]:
app_info = app_info.merge(unique, on="app_id", how="left")

In [10]:
app_info.head(2)

   event_id               app_id  nCats   UniqueLabel
0         2  5927333115845830913      4    cat_Family
1         2  -653184325010919369      3  cat_Esoteric

In [11]:
app_info.to_csv("files/finalSets/apps_wiCats.csv", index=False)

# Merge `app_info` with `evts_hasApp` data

In [14]:
evts_hasApp = pd.read_csv("files/finalSets/evts_withApp_ActInst.csv",index_col=0)

In [15]:
evts_hasApp.head(2)

,event_id,device_id,longitude,latitude,day,time,hour,usageDay,isTrain,group,nActiveApps,nInstallApps
0,2,-6401643145415154744,103.65,30.97,Sun,00:54:12,0,3,0,none,6,19
1,6,1476664663289716375,0.00,0.00,Sun,00:27:21,0,3,1,M22-,15,38

In [16]:
evts_hasApp = evts_hasApp.drop(["day", "time"], axis=1)

In [18]:
app_info = app_info.merge(evts_hasApp, on="event_id", how="left")

In [19]:
app_info.head(10)

,event_id,app_id,nCats,UniqueLabel,device_id,longitude,latitude,hour,usageDay,isTrain,group,nActiveApps,nInstallApps
0,2,5927333115845830913,4,cat_Family,-6401643145415154744,103.65,30.97,0,3,0,none,6,19
1,2,-653184325010919369,3,cat_Esoteric,-6401643145415154744,103.65,30.97,0,3,0,none,6,19
2,2,8693964245073640147,4,cat_Family,-6401643145415154744,103.65,30.97,0,3,0,none,6,19
3,2,4775896950989639373,7,cat_Game_Skill,-6401643145415154744,103.65,30.97,0,3,0,none,6,19
4,2,7167114343576723123,8,cat_Other,-6401643145415154744,103.65,30.97,0,3,0,none,6,19
5,2,5497109940653330488,3,cat_Service,-6401643145415154744,103.65,30.97,0,3,0,none,6,19
6,6,-7377004479023402858,5,cat_Travel,1476664663289716375,0.00,0.00,0,3,1,M22-,15,38
7,6,6284164581582112235,3,cat_Service,1476664663289716375,0.00,0.00,0,3,1,M22-,15,38
8,6,5927333115845830913,4,cat_Family,1476664663289716375,0.00,0.00,0,3,1,M22-,15,38
9,6,3433289601737013244,2,cat_Property,1476664663289716375,0.00,0.00,0,3,1,M22-,15,38

In [20]:
app_info.to_csv("files/finalSets/apps_wiEvts.csv", index=False)

# Merge `app_info` with `device` info

In [1]:
app_info = pd.read_csv("files/finalSets/apps_wiEvts.csv")

In [4]:
app_info.head(2)

,event_id,app_id,nCats,UniqueLabel,device_id,longitude,latitude,hour,usageDay,isTrain,group,nActiveApps,nInstallApps
0,2,5927333115845830913,4,cat_Family,-6401643145415154744,103.65,30.97,0,3,0,none,6,19
1,2,-653184325010919369,3,cat_Esoteric,-6401643145415154744,103.65,30.97,0,3,0,none,6,19

In [3]:
device_info = pd.read_csv("files/finalSets/ga_hasEvts.csv",usecols=["device_id","phone_brand","device_model"])

In [14]:
device_info.head(2)

             device_id phone_brand device_model
0 -8260683887967679142          小米         MI 2
1  7477216237379271436          华为     荣耀6 plus

In [4]:
app_info = app_info.merge(device_info, on="device_id", how="left")

In [5]:
app_info.head(2)

,event_id,app_id,nCats,UniqueLabel,device_id,longitude,latitude,hour,usageDay,isTrain,group,nActiveApps,nInstallApps,phone_brand,device_model
0,2,5927333115845830913,4,cat_Family,-6401643145415154744,103.65,30.97,0,3,0,none,6,19,三星,Galaxy Grand Prime
1,2,-653184325010919369,3,cat_Esoteric,-6401643145415154744,103.65,30.97,0,3,0,none,6,19,三星,Galaxy Grand Prime

In [6]:
app_info.to_csv("files/finalSets/apps_full.csv", index=False)

# Merge `evts` with `phone_brand` and `device_model`

In [6]:
evts = pd.read_csv("files/finalSets/evts_noApp.csv")
ga = pd.read_csv("files/finalSets/ga_hasEvts.csv")

In [8]:
evts.merge(ga[["device_id","phone_brand","device_model"]], on="device_id", how="left")\
.to_csv("files/finalSets/evts_hasApp_phone.csv", index=False)